@import url("~/node_modules/water.css/out/light.min.css");
@import url("@fontsource/roboto/300.css");
@import url("@fontsource/roboto/400.css");
@import url("@fontsource/roboto/500.css");
@import url("@fontsource/roboto/700.css");

body {
  background-image: url("/photos/abstract.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.flex {
  display: flex;
}

.columns > div {
  width: 50%;
}

h1,
h2 {
  margin-top: 0;
}
h3 {
}
