@import url("~/node_modules/water.css/out/light.min.css");

.flex {
  display: flex;
}

.columns > div {
  width: 50%;
}

h1,
h2 {
  margin-top: 40px;
}
h3 {
  color: blue;
}


.images-check {
    display: flex;
  }
  
  .div1 {
    flex: 1;
    background-color: lightblue;
  }
  
  .div2 {
    flex: 1;
    background-color: lightgreen;
  }