
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';

*,
*:before,
*:after {
  box-sizing: border-box;
}
.tracking-in-expand {
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}